<aside class="w-64 min-h-screen bg-[#0f172a] text-white shadow-md p-5 space-y-4">
  <div class="text-2xl font-bold mb-8">E-Learning</div>

  <nav class="flex flex-col space-y-2 text-sm">

    {% if user.role == 'admin' %}
      <a href="{% url 'dashboard_admin' %}" class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-blue-700 transition">
        <i data-lucide="home" class="w-5 h-5"></i> Dashboard
      </a>
      <a href="{% url 'student-list' %}" class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-blue-700 transition">
        <i data-lucide="users" class="w-5 h-5"></i> Mahasiswa
      </a>
      <a href="{% url 'course-list' %}" class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-blue-700 transition">
        <i data-lucide="book-open" class="w-5 h-5"></i> Kursus
      </a>
      <a href="{% url 'modul_materi_list' %}" class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-blue-700 transition">
        <i data-lucide="file-text" class="w-5 h-5"></i> Modul & Materi
      </a>
   

    {% elif user.role == 'dosen' %}
      <a href="{% url 'dashboard_dosen' %}" class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-blue-700 transition">
        <i data-lucide="home" class="w-5 h-5"></i> Dashboard
      </a>
      <a href="{% url 'kursus_dosen' %}" class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-blue-700 transition">
        <i data-lucide="book-open" class="w-5 h-5"></i> Kursus Saya
      </a>
      <a href="{% url 'modul_dosen' %}" class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-blue-700 transition">
        <i data-lucide="file-text" class="w-5 h-5"></i> Modul & Materi
      </a>
      <a href="{% url 'pengaturan_dosen' %}" class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-blue-700 transition">
        <i data-lucide="settings" class="w-5 h-5"></i> Pengaturan
      </a>

    {% elif user.role == 'mahasiswa' %}
      <a href="{% url 'dashboard_mahasiswa' %}" class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-blue-700 transition">
        <i data-lucide="home" class="w-5 h-5"></i> Dashboard
      </a>
      <a href="{% url 'course-list' %}" class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-blue-700 transition">
        <i data-lucide="book-open" class="w-5 h-5"></i> Kursus Saya
      </a>
    {% endif %}

  </nav>
</aside>
