{% extends "base.html" %}
{% block content %}
<div class="flex h-screen bg-gray-100 font-sans">
    {% include 'sidebar.html' %}
    <div class="flex-1 p-8">
        <h2 class="text-3xl font-bold text-gray-800 mb-8">{{ form_title }}</h2>
        <div class="bg-white p-8 rounded-xl shadow-md max-w-2xl">
            <form method="post">
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    {% for field in form %}
                    <div class="col-span-1 {% if field.name == 'deskripsi' %}md:col-span-2{% endif %}">
                        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <p class="text-red-500 text-xs mt-1">{{ field.errors.as_text }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="mt-8 flex justify-end space-x-4">
                    <a href="{% url 'student-list' %}" class="bg-gray-200 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-300">Batal</a>
                    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}